body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h1, h2, h3, h4, p, span, li, a, input, button{
    padding: 0;
    margin: 0;
  }


  .my-custom-class{
    z-index: 3;
    
  }
  .notification-title{
  }
  .notification-content{
  }
  .my-custom-class .success{
  }
  .my-custom-class .info{
  }
  .my-custom-class.error{
    background: red;
    color: white;
  }


